{{#if myMeme}}

<ul class="img-wrapper">
    {{#each myMeme}}
    <a href="meme/{{imgId}}+{{top}}+{{bottom}}"><div style="background:url('{{img}}')" class="meme-wrapper">
        <span id="top-content">{{top}}</span>

        <span id="bottom-content">{{bottom}}</span>
    </div></a>

    {{/each}}
</ul>






{{/if}}

